[Unit]
Description=Python based monitoring of Tuya Weather Station 
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.7 /usr/lib/tuya-WeatherStation/refresh.py -D /etc/tuya-WeatherStation.config
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
